{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", 120],
    "no-console": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": ["error", { "props": false }],
    "arrow-parens": ["error", "as-needed"],
    "linebreak-style": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off"
  }
}